@charset "UTF-8";

/* 回答はここに書いてね */
.q5_boxes {
  height: 500px;
  width: 500px;
  position: relative;
  margin: 0 auto;
  background-color: #ECF1F2;
}

.q5_box {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  line-height: 100px;
}

.box8 {
  left: 120px;
  top: 120px;
  background-color: #de70cf;
  z-index: 8;
}

.box8::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #FFEFD3;
}

.box5 {
  top: 360px;
  left: 200px;
  background-color: #9fd6d2;
  z-index: 5;
}

.box1 {
  top: 40px;
  left: 200px;
  background-color: #ffefd3;
  z-index: 1;
}

.box7 {
  left: 40px;
  top: 200px;
  background-color: #deae70;
  z-index: 7;
}

.box4 {
  left: 280px;
  top: 280px;
  background-color: #8b7a5e;
  z-index: 4;
}

.box6 {
  left: 120px;
  top: 280px;
  background-color: #fffee4;
  z-index: 6;
}

.box2 {
  left: 280px;
  top: 120px;
  background-color: #7084de;
  z-index: 2;
}

.box3 {
  left: 360px;
  top: 200px;
  background-color: #d0ecea;
  z-index: 3;
}

.box9 {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9;
  background-color: #2b69a3;
}

/* zed-indexは10~90にする
→保守性を高めるため */

/* 回答はここに書いてね */
